<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL1.Properties.Settings.Education_AlekseevaConnectionString"
            connectionString="Data Source=LAPTOP-ROV1S6F4;Initial Catalog=Education_Alekseeva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>